* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url(./assets/bg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    height: 100vh;
}
header {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
nav {
    background-color: blueviolet;
}
#logo {
    color: rgb(49, 43, 12);
    font-size: 4em;
}
li {
    display: inline-block;
    background-color: brown;
    margin: 0 1em;
}